/**
 * x-icon
 *
 * Implements a webfont glyph  Needs to be used within
 * a pseudo element (e.g. &:before, &:after).  Accepts a required, named
 * icon, an optional size, and an optional color.  
 */
@mixin x-icon($icon, $size: 16px, $color: inherit) {
  display: inline-block;
  content: $icon;
  font-family: 'icons';
  font-size: $size;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  color: $color;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
