<% Components::Logo.initialize(logo) %>

<!-- Component: Logo -->
<section class="logo<%= logo[:modifiers] %>">
  <div class="logo__inner">
    <% link_to logo[:link], :class => 'logo__link' do %>
      <img class="logo__image" src="<%= logo[:image] %>" />
      <span class="logo__heading"><%= logo[:heading] %></span>
    <% end %>
  </div>
</section>
<!-- /Component: Logo -->
